html{
    background-color: #383838;
}

body{
    background-color: black;
    width: 90%;
    margin: 5px auto;
    padding: 20px;
}

.title{
    display: block;
    color: 	#C0C0C0;
    text-align: center;
    font-size: 70px;
    padding: 20px 0px;
    border-bottom: 5px solid #383838;
}

img{
    max-width: 100%;
    transition: box-shadow 0.3s ease;
}

.albumContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    background-color: #282828;
}

.albumMenu{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #383838;
    justify-content: flex-start;
    align-items: center;
    width: 15%;
}

.albumName{
    display: block;
    text-align: center;
    font-size: 30px;
    color: #282828;
    background-color: #C0C0C0;
    padding: 10px;
    margin: 20px;
    width: 50%;
    transition: box-shadow 0.3s ease;
}
.albumName:hover{
    box-shadow: 0 0 8px 8px grey;
    position: relative;
    width: 55%;
}

.largePicContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.largerPic{
    width: 80%;
    margin: auto;
    top: auto;
    left: auto;
}

.smallPicContainer{
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: #383838;
    justify-content: flex-start;
    align-items: center;
    width: 20%;
    height: 635px;
    overflow: hidden scroll;
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.smallerPic{
    width: 60%;
    margin: 10px;
}
.smallerPic:hover{
    box-shadow: 0 0 8px 8px grey;
    position:relative;
    width: 75%;
}