html{
    background-color: #383838;
}

body{
    background-color: black;
    width: 90%;
    margin: 5px auto;
    padding: 20px;
}

.title{
    display: block;
    color: 	#C0C0C0;
    text-align: center;
    font-size: 70px;
    padding: 20px 0px;
    border-bottom: 5px solid #383838;
}

img{
    max-width: 100%;
    transition: box-shadow 0.3s ease;
}
img:hover{
    box-shadow: 0 0 8px 8px grey;
}

.albumContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: #282828;
}

.largePicContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.largerPic{
    width: 80%;
    margin: auto;
}
.largerPic:hover{
    position: relative;
    width: 90%;
}

.smallPicContainer{
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: #383838;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: auto;
}

.smallerPic{
    width: 80%;
    margin: 10px;
}
.smallerPic:hover{
    position:relative;
    width: 110%;
}